.dashboard {
    display: flex;
    width: 98%;
}

.dashboard ul {
    list-style: none;
}

.dashboard ul li {
    padding-top: 20px;
}

.dashboard .dashboard-roadmap {
    margin-top: 40px;
}

#button-newroadmap {
    background-color: #6666ff;
    border: none;
    outline: none;
    position: sticky;
}

.example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}