.dashboard {
    display: flex;
    width: 98%;
}

.dashboard ul {
    list-style: none;
}

.dashboard ul li {
    padding-top: 20px;
}

#button-newroadmap {
    background-color: #6666ff;
    border: none;
    outline: none;
    position: sticky;
}