.mainroadmap {
    display: flex;
    width: 98%;
}

.mainroadmap ul li {
    padding-top: 20px;
}

#button-newroadmap {
    background-color: #6666ff;
    border: none;
    outline: none;
    position: sticky;
}