.profile {
  display: flex;
  width: 98%;
}

.profile ul img {
  border-radius: 50%;
}

.profile ul li {
  padding-top: 20px;
}

#button-formupdateuser-submit {
  background-color: #6666ff;
  border: none;
  outline: none;
  float: right;
}

#file {
  display:none
}

#labelfile {
  color: white;
  height: 35px;
  background-color: #6666ff;
  font-size: 20px;
  text-align: center;
  border-radius: 10px
}

#labelfile:hover {
  background-color: #2e2e9c;
  cursor: pointer;
  transition: .1s linear;
}