.wrapper .nav-dashboard .nav__body h3 {
  color: white;
  text-align: center;
  padding-top: 20px;
  font-size: 2.5rem;
  font-weight: bold;
}

.wrapper .nav-dashboard .nav__body ul {
  margin-top: 50px;
  /* border-bottom: 1px solid white; */
  border-top: 1px solid white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: white;
  font-weight: 700;
  list-style-type: none;
}

.wrapper .nav-dashboard .nav__body ul li {
  font-size: 1.1rem;
}

.wrapper .nav-dashboard .nav__body ul li button {
  text-align: left;
}

.wrapper .nav-dashboard .nav__body ul li button:hover {
  text-decoration: underline;
}


.wrapper .nav-dashboard .nav__body ul li a {
  color: white;
}

.wrapper .nav-dashboard .nav__body ul button {
  background: none;
  border: none;
  color: white;
  font-weight: 700;
}

.wrapper {
  display: flex;
  height: 100%;
  transition: margin 0.5s;
  margin: 0 0 0 -250px;
}

.wrapper.is-nav-open {
  margin-left: 0;
}

.nav-dashboard {
  position: relative;
  width: 250px;
  height: 100vh;
  padding: 20px;
  background-color: #6666ff;
}

.nav__icon {
  position: absolute;
  top: 0;
  right: -60px;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s;
  background: none;
  border: none;
}

.nav__icon:focus {
  outline: none;
}

.nav__icon:hover {
  color: #8484e4;
}

.wrapper .nav-dashboard .nav__body ul li a {
  text-decoration: none;
}

.wrapper .nav-dashboard .nav__body ul li a:hover {
  transition: all 0.2s ease-in-out;
  transition-duration: 0.5s;
  color: rgb(192, 192, 192);
}
